<div class="container-fluid">
  <h2> About Us </h2>
  <hr class="subtitle-line">
  <div>
  <p>
  We are Asclepius Tutoring, medical students looking to help aspiring medical students realise their dreams. We are dedicated to supporting applications to medical school and the provision of holistic advice on starting a medical career based on our own experiences as medical students and junior doctors.
  </p>
  <p>
  Asclepius, the greek god of medicine, represents the science of healing and medicine. His snake-entwined staff remains emblematic of medicine to this day. Our name shows our commitment to the science of medicine. As students of the top medical schools in the United Kingdom we aim to share our expeience and skills to aid those who also want a career in medicine and associated sciences.
  </p>
  <p>
  Our tutors have all been trained to work with dedication and a results-orientated approach. The focus of our work is with those applying to medical school - supporting A-Level and IB study, application crafting and seeking out development opportunities.
  </p>
</div>
<div>
  <hr class="banner light-banner fixed-bottom">
</div>