<div class="jumbotron container" id="top-panel">
  <div class="container-fluid" id="top-info">

  <hr class="title-line">
    <div id="title-text">
      <h1>
      Affordable,<br>
      quality tutoring<br>
      for aspiring medics.
      </h1>
    </div>
  </div>
    <div>
      <a scroll-to="#about" class="no-decoration-link">
        <span class="glyphicon glyphicon-menu-down" id="down-arrow" aria-hidden="true"></span>
      </a>
    </div>
    <hr class="banner dark-banner">
  </div>
</div>
<div class="container-fluid below-title">
  <div class="col-md-12">
    <h2 id="about"> Who are we? </h2>
  </div>
  <div class="col-md-6">
    <div class="row">
      <hr class="subtitle-line">
      <div>
        <p> We are a group of medical students who understand the difficult process of getting into medical school. We believe that we can make a huge difference in strengthening a student's application and also providing them with the necessary techniques to thrive at medical school.</p>
      </div>
      <hr class="subtitle-line">
      <div>
        <p> We are an experienced enthusiastic group of tutors who understand the difficulties of university, each of whom has a training session with Asclepius before they start work with a client. </p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <hr class="subtitle-line">
      <div>
        <p> We all believe that there were things that we wish we'd known before applying to medical school which would have helped us make tricky decisions and none of us felt that we had the relevant support from our schools.</p>
      </div>
    </div>
  </div>
  <div class="col-md-12" id="btn-div">
    <button ui-sref="about"> More about us </button>
  </div>
</div>
<div>
  <hr class="banner light-banner bottom">
</div>