<div class="jumbotron container-fluid" id="top-panel">
  <div class="container" id="top-info">

    <hr class="title-line">
    <div id="title-text">
      <h1>
      Affordable,<br>
      quality tutoring<br>
      for aspiring medics.
      </h1>
    </div> <!-- End top text -->

    <div class="centered" id="arrow-div"> <!-- Down arrow -->
      <a scroll-to="#about" class="no-decoration-link">
        <span class="glyphicon glyphicon-menu-down" id="down-arrow" aria-hidden="true"></span>
      </a>
    </div><!-- End down arrow -->
  </div> <!-- End top info -->
  <hr class="banner dark-banner bottom">
</div> <!-- End Jumbotron -->