<div class="container-fluid">
  <div>
    <h2> Our Services </h2>
    <hr class="subtitle-line">
    <div>
    <p>
      Our services centre around one-to-one mentoring. Our tutors are open and supportive enabling long-term supportive and nurturing relationships. We focus on supporting those applying to medical school. 
    </p>
    <p>
      We offer holistic support from A-Level mentoring to finding the right experience to develop a successful application.  We aim to offer long-term support partnering clients with tutors who are best able to meet their needs.
    </p>
  </div>
  <div>
    <h2> Pricing </h2>
    <hr class="subtitle-line">
    <ul>
      <li> Price 1 </li>
      <li> Price 2 </li>
      <li> Price 3 </li>
    </ul>
  </div>
</div>
<div>
  <hr class="banner light-banner fixed-bottom">
</div>